/* NAV  +  HEADER */
@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
body{
    background: url(../images/background/intersection.png);
    font-family: 'Sniglet', cursive;
}
._right, ._left{
    background: url(../images/background/dark-honeycomb.png);
    width: 15%;
    height: 100vh;
    margin-left: 100px;
    opacity: .85;
    position: fixed;
    z-index: -10;
}
._right{
    right: 20px;
}
._left{
    left: -80px;
}
._color{color: #ffc107; text-decoration: underline; text-decoration-color: #343a40;}
._color:hover{
    text-decoration-color: darkgray;
}

._header_navs_before::before{
    content: "";
    display: block;
    pointer-events: none;
    width: 70px;
    height: 6px;
    background: url(../images/background/dark-honeycomb.png);
    position: relative;
    top: 45px;
    opacity: .85;
    margin: auto;
    z-index: 10000;
}
/* NAV - CHECKED BY ACTIVE CLASS */
._min-height .card {min-height: 520px;}
.nav_{
    text-align: center;
}
/* ARTICLE CSS */
._indent{text-indent: 20px;}
._underline{text-decoration: underline;}

/* BLOCKS(CONTENTS)  in  CONTAINER */
._card_wrapper{height: 500px;}
._wrap{padding: 3%;}
._contents{width: 100%; border: 1px solid; padding: 2%; border-radius: 20px;}
._time{display: inline-block;}
._categorie{float: right;}


/* GOODS */
._singleGoods{width: 30.229%; min-height: 300px; border: 1px solid; display: inline-block; margin: 15px; text-align: center;}
._singleGoods img{width: 200px; height: 200px;}
._singleGoods button{margin-bottom: 17px;}

._card_img img{height: 224px;}
#profile_menu img{cursor: pointer; border: 1px solid white; border-radius: 100%;}
.main_card_img img{
    width: 100%;
    height: 160px;
}
._card_img{
    width: 100%;
    height: 330px;
}
._card_h{
    width: 100%;
    height: 50px;
}
._card_p{
    width: 100%;
    height: 60px;
}
._card_btn{
    width: 100%;
    margin-bottom: 15px;
}


/* HEADER - MENU */
._search {display: inline-block;}
.header-menu{width: 100px; height: 40px; border: 1px solid; background-color: lightskyblue; padding: 25px; margin: 10.8px;}
.container{margin-top: 50px;}

._basket{display: inline-block; margin: 2px; border: 1px solid;}
#_basket{text-align: right;}


/* MARKET */


/*FOOTER*/
._footer{color: white;}

.hiddenCart{color: red; border: 1px solid yellowgreen; color: yellowgreen; width: 100px; margin: auto; z-index: 2; display: block; line-height: 20px; border-radius: 5px; pointer-events: none; position: absolute; transition: all ease .5s; left: 0px; bottom: 0; opacity: 0;}
.hiddenCart span{background: lightyellow; display: block; border-radius: 5px;}
._buy{z-index: 3; position: relative; height: 42px; width: 101px;}

/*GAMES*/
._play_btn{display: inline-block; margin-left: 10%; border: 5px solid darkgreen; border-radius: 15%; color: white; background-color: #ec6464; cursor: pointer; transition: all ease .2s; position: relative; left: 0px;}
._play_btn:hover{ border-radius: 20%; font-size: 38px; left: 1px;}

/* PROFILE */

form input, textarea{width: 300px;}

._prof{cursor: pointer; border: 1px solid white; width: 50%; margin: 0px; padding: 0px; display: inline-block; height: 40px; line-height: 40px; font-size: 20px; opacity: .85;}
._prof_left{border-top-left-radius: 17px; border-bottom-left-radius: 17px;}
._prof_right{border-top-right-radius: 17px; border-bottom-right-radius: 17px;}
.__name, .__surname, .__bio, .__phone, .__location{font-family: 'ZCOOL XiaoWei', serif;}
._active_prof{border: 20px solid #343a40; line-height: 3px; opacity: 1;}

/*TYPE="FILE" SYLE*/
.file_upload{
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.1s linear
}
.file_upload.focus{
    box-shadow: 0 0 5px rgba(0,30,255,0.4)
}
.file_upload > button{
    background: #7300df;
    transition: background 0.2s;
    border: 1px solid rgba(0,0,0,0.1);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #fff;
    text-shadow: #6200bd 0 -1px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}
.file_upload:hover > button{
    background: #6200bd;
    text-shadow: #5d00b3 0 -1px 0
}
.file_upload:active > button{
    background: #5d00b3;
    box-shadow: 0 0 3px rgba(0,0,0,0.3) inset
}