/* MARKET */
button._delete{height: 40px; width: 80%; border: 1px solid black; font-size: 25px; width: 100px; line-height: 10px; color: lightyellow}

._minus, ._plus {
    color: darkorange;
    font-size: 25px;
    border: 1px solid black;
}

._contact-form{
    position: absolute;
    top: -48px;
    right: -380px;
}
._basket-height{
    min-height: 380px;
}